<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineTicaretUygulamasi.Properties.Settings.FriendyolConnectionString"
            connectionString="Data Source=11.11.13.8;Initial Catalog=Friendyol;Persist Security Info=True;User ID=sa305;Password=sa305"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
